::ng-deep #chart {
    height: 440px;
}

.logo{
  display: flex;
  padding-left: 20px;
  color: #193148;
  line-height: 22px;
  font-weight: 700;
  font-size: 24.59px;
  justify-content: space-between;
  font-family: "Circular Std",sans-serif;
}

.logo1{
  font-weight: 700;
}
.logo4{
  font-weight: 300;
}

.logo2{
  margin-left: 8px;
  color: green;
}

.logo3{
  margin-right: 8px;
  color: #ffff00;
}

.menuTop{
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}


.container-header{
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

.menu-header a{
  height: 70px;
  margin-right: 8px;
  cursor: pointer;
  font-family: arial;
  color:#193148;
  text-transform: uppercase;
  font-weight: 500;
}

.menu-header a.active{
  font-weight: bold;
  color: #0a0a0a;
  border-bottom: 3px solid #008000;
  border-radius: 5px;

}

.menu-header a:hover{
  color: #b4bbbb;
}

.selection{
  margin-top:20px;
}
